.error__container {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.error__text {
  margin-top: 50px;
  font-weight: 700;
  font-size: 46px;
}
.error__text__title {
  font-size: 90px;
}
