.footer__title {
  text-align: right;
  padding: 0px;
}
footer {
  background-color: rgb(50, 50, 51);
  color: white;
  position: fixed;
  left: 0;
  bottom: 0px;
  width: 100%;
}
.footer__content {
  padding: 20px;
}
