/* You can add global styles to this file, and also import other style files */
html {
  box-sizing: border-box;
  background-color: rgb(234, 237, 241);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
a {
  text-decoration: none;
}

.container {
  height: 100%;
}
